:root {
	--var-dark: #1d0b11;
	--var-bright: #ff6b6b;
	--var-accent: #8a2be2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
  overflow: hidden;
}

body {
	color: var(--var-bright);
	position: relative;
	min-height: 100vh;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.4rem;
	width: 450px;
	padding: 1.3rem;
	min-height: 250px;
	position: absolute;
	background-color: var(--var-dark);
	border: 1px solid var(--var-accent);
	border-radius: 15px;
	z-index: 2;
}

.modal .flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal input {
	padding: 0.7rem 1rem;
	border: 1px solid var(--var-accent);
	border-radius: 5px;
	font-size: 0.9em;
}

.modal p, li {
	font-size: 0.9rem;
	color: var(--var-accent);
	margin: 0.4rem 0 0.2rem;
}

button {
	cursor: pointer;
	border: none;
	font-weight: 600;
}

.btn {
	display: inline-block;
  width: 100%;
	padding: 0.8rem 1.4rem;
	font-weight: 700;
	background-color: var(--var-bright);
	color: var(--var-accent);
	border-radius: 5px;
	text-align: center;
	font-size: 1em;
}

.btn-open {
	position: absolute;
	bottom: 150px;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(3px);
	z-index: 1;
}

.hidden {
	display: none;
}
