:root {
	--var-dark: #1d0b11;
	--var-bright: #ff6b6b;
	--var-accent: #8a2be2;
}

body {
	display: contents;
	position: relative; 
}

.main__container {
	/* top: 0; */
	height: 100vw;
	background-color: darkslategrey;
	text-align: center;
}

.node__container {
  position: absolute;
  display: grid;
  justify-content: center;

  height: 100px;
  width: 90%;
  transform: translate(5%, 0);
  background-color: gold;
}

.title {
	position: relative;
	top: 20px;
	padding: 1rem auto;
}

input {
  position: absolute;
  background-color: var(--var-bright);
  color: var(--var-accent);
  width: 100%;
  min-height: min-content;
  padding-left: 1rem;
  font-size: 3rem;
  bottom: 0;
  left: 0;
  border-style: none;
}

.node {
  height: 128px;
  width: 128px;
  border-radius: 50%;
  background-color: var(--var-accent);
}
